{% extends 'email.html' %}
{% from '_macros.html' import email_button, email_unsubscribe %}

{% block title %}Résultat du pronostic {{ game.home_team }} - {{ game.away_team }}{% endblock %}
{% block preheader %}Détail des points gagnés (ou perdus){% endblock %}

{% block content %}
<h1>{{ user.username }},</h1>

<p>
    Le match {{ game.home_team }} - {{ game.away_team }} s’est terminé sur un <strong>{{ game.goals_home_team }} - {{ game.goals_away_team }}</strong>
    {% if game.shoot_out_victory %} avec victoire aux tirs aux buts de <strong>{{ game.winner_name }}</strong>{% endif %}.
</p>
<ul>
    <li>
        Vainqueur 
        {% if game.winner != forecast.winner %}
            (fantasmé) {{ forecast.winner_name.name or forecast.winner_name }} 
            au lieu de {{ game.winner_name.name or game.winner_name }} en vrai
        {% else %}{{ forecast.winner_name }}{% endif %} = {{ forecast.score_outcome|signed}}pts
    </li>
    <li>
        Buts {{ game.home_team.name }} 
        {% if game.goals_home_team != forecast.goals_home_team %} misé sur {{ forecast.goals_home_team }} au lieu de {{ game.goals_home_team }} 
        {% else %}{{ game.goals_home_team }}{% endif %} = {{ forecast.score_goals_home_team|signed}}pts
    </li>
    <li>
        Buts {{ game.away_team.name }} 
        {% if game.goals_away_team != forecast.goals_away_team %} misé sur {{ forecast.goals_away_team }} au lieu de {{ game.goals_away_team }}
        {% else %}{{ game.goals_away_team }}{% endif %} = {{ forecast.score_goals_away_team|signed}}pts
    </li>
    {% if game.question and forecast.answer %}
    <li>
        Question bonus : {{ game.question }}<br>
        {% if game.answer != forecast.answer %}Répondu "{{ forecast.answer }}" au lieu de "{{ game.answer }}"
        {% else %}{{ game.answer }}{% endif %} = {{ forecast.score_answer|signed}}pts
    </li>
    {% endif %}
</ul>

<p>Au final ça donne <strong>{{ forecast.score|signed}}pts</strong></p>

{{ email_button('Accéder aux pronostics', url_for('prono.index', _external=True) ) }}

{{ email_unsubscribe(user) }}
{% endblock %}
