{% extends 'email.html' %}
{% from '_macros.html' import email_button, email_unsubscribe %}

{% block title %}Matches à venir{% endblock %}
{% block preheader %}Rappel pour pronostiquer{% endblock %}

{% block content %}
<h1>{{ user.username }},</h1>

<p>Juste pour rappeler (comme chaque lundi matin) qu’il y a des matches en ligne sur wootball.fr et qui dit match dit pronostic :</p>
<ul>
{% for game in object_list %}
    <li>{{ game.date|date('%A %d/%m') }} : {{ game.home_team.name }} - {{ game.away_team.name }}</li>
{% endfor %}
</ul>

{{ email_button('J’ai envie de pronostiquer', url_for('prono.index', _external=True) ) }}

{{ email_unsubscribe(user) }}
{% endblock %}
