@font-face {
    font-family: 'Miroslav';
    src: url('../fonts/MiroslavNormal.woff2') format('woff2'), url('../fonts/MiroslavNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FaricyNew';
    src: url('../fonts/FaricyNew-Medium.woff2') format('woff2'),
        url('../fonts/FaricyNew-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FaricyNew';
    src: url('../fonts/FaricyNew-Bold.woff2') format('woff2'),
        url('../fonts/FaricyNew-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FaricyNew';
    src: url('../fonts/FaricyNew-Regular.woff2') format('woff2'),
        url('../fonts/FaricyNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body.lang-ru {
    font-family: 'Miroslav';
}

