#div-wompils, #div-jeux, #div-pronostics {
    a {
        color: $white;
    }
    padding: 2rem;
    figure {
        position: relative;
        img {
            position: relative;
        }
        figcaption {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            text-align: center;
            color: $white;
        }
    }
}

#div-wompils {
    &:hover {
        background-color: $blue;
    }
    figure {
        figcaption {
            top: 20%;
            left: 0;
            color: $white;
        }
    }
}

#div-pronostics {
    &:hover {
        background-color: $yellow;
        figcaption {
            color: $blue;
        }
    }
    figure {
        figcaption {
            top: 3%;
            left: 5%;
            color: $white;
        }
    }

}

#div-jeux {
    &:hover {
        background-color: $orange;
    }
    figure {
        figcaption {
            top: 10%;
            left: 20%;
            color: $white;
        }
    }
}