.is-yellow {
    background-color: $yellow;
    .title, .subtitle, .content, strong {
        color: $dark;
    }
}

.is-green {
    background-color: $green;
}

.is-blue {
    background-color: $blue;
}

.is-orange {
    background-color: $orange;
}

body.is-danger {
    background-color: $red;
}

body.is-landing {
    background-color: $green;
    background-image: url('/static/covers/wompil18-alt.png');
    div.content {
        //background-color: rgba(10, 89, 166, 0.9);
        background-color: $blue;
        padding: 1.5em;
    }
}