.navbar {
    font-size: 1.5rem;
    .navbar-item {
        font-weight: 300;

        &:hover {
            border-bottom: 3px solid $orange;
        }
        &.is-active {
            border-bottom: 3px solid $blue;
        }
    }
    .navbar-brand {
        .navbar-item {
            font-weight: 500;
        }
    }
    .burger {
        color: $blue;
    }
}