// cartes de la même taille
@include desktop() {
    .notification {
        background-position: left 5px top 5px;
        background-image: url('/static/images/wootix.png');
        background-repeat: no-repeat;
        padding-left: 9rem;
    }
}