// cartes de la même taille
.card-forecast {
    //border: 1px solid #fff; 
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
    height: 100%;
    display:flex; 
    flex-direction: column;
    background-color: $blue;
    color: $white;
    .card-footer {
        margin-top: auto;
    }

    .card-teams {
        position: relative;
        height: 250px;
        padding: 8px;
        img:first-child {
            width:60%; 
            position: relative; 
            top: 0; 
            left: 0;
            &:hover {
                z-index: 100;
            }
        }
        img:nth-child(2) {
            width:60%; 
            position: absolute; 
            top:30%; 
            right: 8px;
        }
    }
}