#slideshow, #quiz {
    button.button , a.button {
        height: auto;
        word-break: normal;
        white-space: normal;
    }
    p.slidecontrol {
        cursor: pointer;
        padding: 1em;
        &:first-child:first-letter {
            color: $yellow;
            float: left;
            font-size: 2em;
            line-height: 1.5em;
            padding-top: 4px;
            padding-right: 8px;
            padding-left: 3px;
        }
        &:hover {
            background-color: $blue;
        }
    }
}