// pas de couleur sur les liens dans la tracklist
table.tracklist {
    th, td {
        border: 0;
    }
    a {
        color: $text;
        &:hover {
            text-decoration: underline;
        }
    }
}

.card.panino {
    border: 1px solid $orange;
    background-color: $white;
    padding: 5px;
    .card-content {
        padding: 10px 0 0 0;
        color: $dark;
        text-transform: uppercase;
        font-weight: bold;
    }
}

iframe.video {
    width: 100%;
    height: 350px;
}