/**
__      _____   ___ | |_| |__   __ _| | | 
\ \ /\ / / _ \ / _ \| __| '_ \ / _` | | | 
 \ V  V / (_) | (_) | |_| |_) | (_| | | | 
  \_/\_/ \___/ \___/ \__|_.__/ \__,_|_|_|.css
*/

@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";


$green: #00a650;
$blue: #0057a7;
$yellow: #f6eb1f;
$orange: #f36a22;
$red: #f44336;
$success: hsl(141, 71%, 48%);

$family-sans-serif: "FaricyNew", "Roboto", "Fira Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$text: $white;
$text-strong: $text;
$title-color: $text;
$subtitle-color: $title-color;
$body-background-color: $green;
$footer-background-color: $body-background-color;
$primary: $blue;
//$danger: $yellow;
$link: $blue;
$link-hover: $yellow;

// menu
$menu-item-color: $link;
$menu-item-hover-color: $white;
$menu-item-hover-background-color: $link;

// navbar
$navbar-background-color: $white;
$navbar-item-color: $blue;
$navbar-item-active-color: $blue;

// tableaux
$table-color: $text;
$table-background-color: transparent;
$table-head-cell-color: $text;

// cards
$card-background-color: transparent;
$card-shadow: none;

// formulaires
$help-size: $size-6;
$label-color: $text;

// notifications
$notification-padding: 1.25rem 2.5rem 1.25rem 1.5rem;

@import "node_modules/bulma/sass/utilities/derived-variables.sass";
@import "node_modules/bulma/bulma";

@import "wootball/sass/base";
@import "wootball/sass/homepage";
@import "wootball/sass/navbar";
@import "wootball/sass/menu";
@import "wootball/sass/fonts";
@import "wootball/sass/wompil";
@import "wootball/sass/modifiers";
@import "wootball/sass/forms";
@import "wootball/sass/slideshows";
@import "wootball/sass/cards";
@import "wootball/sass/pronos";
@import "wootball/sass/notifications";