{% extends 'centered.html' %}
{% block title %}Crever{% endblock %}
{% block subtitle %}Crever{% endblock %}
{% block body_class %}is-danger{% endblock %}

{% block content %}
<div id="slideshow">
    <div id="slide-1">
        <p class="content">Tu vas finir par faire ton entrée au panthéon(à l'huile) des plus grosses merdae de la création...</p>
        <p class="content">
            <button class="button is-fullwidth slidecontrol" data-slide="2">Je wigolais et je voudrais, s'il vous plait, revenir au menu</button>
            <button class="button is-fullwidth slidecontrol" data-slide="3">Je m’en fous et je veux me barrer de ce site pourri</button>
        </p>
    </div>
    <div id="slide-2" class="is-hidden">
        <p class="title">Tu peux toujours te toucher</p>
    </div>
    <div id="slide-3" class="is-hidden">
        <p class="content">WW2W a voulu t'ouvrir les yeux, tu préfères rester sur tes positions. 
            L'association n'est pas rancunière et admire la force de caractère chez l'Autre.</p>
        <p class="content">
            <button class="button is-fullwidth slidecontrol" data-slide="4">Je m’ai pas laissé(e) impressionner, je suis resté(e) inflexible et j'ai gagné le droit de m’en aller</button>
        </p>
    </div>
    <div id="slide-4" class="is-hidden">
        <p class="title">Tu pourras jamais te barrer, pourriture, ... on sait où t'habites......</p>
    </div>
</div>
{% endblock %}