{% extends 'quiz.html' %}
{% block title %}Félicitations{% endblock %}
{% block subtitle %}Si nos souvenirs sont bons, Jésus a dit: "pardonne à ton prochain", puis il a ajouté: "sauf si ce prochain s'appelle Harald Schumacher"{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <figure class="image is-4by3">
                    <img src="{{ url_for('static', filename='images/harald-schumacher.jpg') }}" alt="Bâtard">
                </figure>
            </div>
            <div class="column is-9">
                <h2 class="title">Félicitations !</h2>
                <div class="notification is-success">Si nos souvenirs sont bons, Jesùs Navas a dit «&nbsp;pardonne à ton prochain&nbsp;», 
                    puis il a ajouté: «&nbsp;sauf si ce prochain s'appelle Harald Schumacher&nbsp;».</div>
                <p class="content">Tu as suivi ses préceptes et tu vas pouvoir...</p>

                <div class="columns">
                    <div class="column is-half">
                        <h3 class="subtitle">1) Retirer ton diplôme d'honneur</h3>
                        <p class="content">Diplôme officiel &amp; personnalisé</p>
                        <form class="field has-addons has-addons-centered" action="{{ url_for('jeux.quiz_diplome') }}" method="GET">
                            <p class="control">
                                <input class="input" type="text" placeholder="Ton petit nom" name="name" required>
                            </p>
                            <p class="control">
                                <button class="button is-link" type="submit">Télécharger</button>
                            </p>
                        </form>
                    </div>
                    <div class="column is-half">
                        <h3 class="subtitle">2) Lui arranger le portait, mon kopa(in)</h3>
                        <a href="{{ url_for('jeux.dezingue') }}" class="button is-link ">Dézingue Schumacher</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}