{% extends 'centered.html' %}
{% block title %}Tu es une grosse merde{% endblock %}
{% block subtitle %}Tu sais pas ce que tu veux, tes réponses, c'est vraiment n'importe quoi...{% endblock %}
{% block body_class %}is-danger{% endblock %}

{% block content %}
<div id="slideshow">
    <div id="slide-1">
        <p class="content">En 1982, à Séville, le fumelard à qui tu viens de demander un autographe, à qui tu viens de peigner la moustache, 
            à qui tu viens de verser une rente à vie, à qui tu viens de servir de chauffeur et que tu viens d'épouser, 
            a presque tué un footballer en pleine maturité, père de plusieurs enfants, et qui ne pourra plus jamais bouffer de Carambar™.</p>
        <p class="title">Tu es une grosse merde</p>
        <p class="content">
            <button class="button is-fullwidth slidecontrol" data-slide="2">Je regrette, je désire faire pénitence et obtenir le droit de revenir au menu</button>
        </p>
    </div>
    <div id="slide-2" class="is-hidden">
        <p class="title">Tu peux toujours te toucher</p>
    </div>
</div>
{% endblock %}