{% extends 'centered.html' %}
{% block title %}Tu es minable{% endblock %}
{% block subtitle %}Tu sais pas ce que tu veux, tes réponses, c'est vraiment n'importe quoi...{% endblock %}
{% block body_class %}is-danger{% endblock %}

{% block content %}
<div id="slideshow">
    <div id="slide-1">
        <figure class="image">
            <img src="{{ url_for('static', filename='images/3dents.jpg') }}" alt="Dents">
        </figure>
        <br>
        <p class="content">Lire tes réponses a été douloureux... Cela reste cependant moins douloureux que de perdre trois dents suite à une rencontre impromptue avec un gardien allemand moustachu à Séville en 1982.</p>
        <p class="content">
            <button class="button is-fullwidth slidecontrol" data-slide="2">Tout cela est vrai, je regrette et désire obtenir le droit de prouver ma bonne foi</button>
            <a class="button is-fullwidth" href="https://www.youtube.com/watch?v=Lxt0_YrQs0M">Je maintiens qu'il faut, en 2018, pardonner à Harald</a>
        </p>
    </div>
    <div id="slide-2" class="is-hidden">
            <p class="title">Tu peux toujours te toucher</p>
        </div>
</div>
{% endblock %}