{% extends 'centered.html' %}
{% block title %}Erreur 400{% endblock %}
{% block subtitle %}Envoi d’un vieux formulaire ?{% endblock %}

{% block content %}
<div class="notification is-danger">
    <span class="has-text-weight-bold">{{ self.title() }}</span> - {{ self.subtitle() }}
</div>
<p class="content">
    Cela peut arriver quand on laisse longtemps ouvert le formulaire de recherche avant de le valider 
    (protection <a href="https://fr.wikipedia.org/wiki/Cross-Site_Request_Forgery" rel="external">CSRF</a>).<br>
    Il suffit de retourner sur l’accueil et de recommencer (désolé).
</p>
<a href="{{ url_for('homepage') }}" class="button is-large is-block is-primary">Retour à l’accueil</a>
{% endblock %}