{% extends 'centered.html' %}
{% block title %}Erreur 404{% endblock %}
{% block subtitle %}Lien cassé ? Adresse mal tapée ? Was ist los ?{% endblock %}

{% block content %}
<div class="notification is-danger">
    <span class="has-text-weight-bold">{{ self.title() }}</span>: {{ self.subtitle() }}
</div>
<p class="content">
    Toute l’équipe de Wootball.fr vous prie d’accepter ses excuses et en profite pour renouveler son attachement 
    aux valeurs du sports au telles que décrites par ce documentaire :
</p>
<iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/QvfIrMg43a4?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
<a href="{{ url_for('homepage') }}" class="button is-large is-block is-primary">Retour à l’accueil</a>
{% endblock %}