{% macro horizontal_form(form, size='normal', expanded=0, style='') -%}
{% for field in form %}{{ horizontal_field(field, size=size, expanded=expanded, style=style) }}{% endfor %}
{%- endmacro %}

{% macro vertical_form(form, size='normal', hide_label=0, expanded=0, style='') -%}
{% for field in form %}{{ vertical_field(field, size=size, hide_label=hide_label, expanded=expanded, style=style) }}{%
endfor %}
{%- endmacro %}

{% macro horizontal_field(field, label='', size='normal', expanded=0, style='', hide_description=0) -%}
{% if field.type == 'HiddenField' or field.type == 'CSRFTokenField' %}
{{ hidden_field(field) }}
{% else %}
<div class="field is-horizontal">
    <div class="field-label is-{{ size }}">
        {% if field.type != 'BooleanField' %}
        <label class="label">{{ label or field.label.text }}</label>
        {% endif %}
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control {% if expanded %}is-expanded{% endif %}">
                {{ field_field(field, size, expanded, style) }}
            </div>
            {{ field_errors(field, size) }}
        </div>
    </div>
</div>
{% endif %}
{%- endmacro %}

{% macro vertical_field(field, label='', hide_label=0, size='normal', expanded=0, style='', hide_description=0) -%}
<div class="field">
    {% if field.type == 'HiddenField' or field.type == 'CSRFTokenField' %}
    {{ hidden_field(field) }}
    {% elif field.type == 'BooleanField' %}
    <div class="control">
        {{ checkbox_field(field, label, **kwargs) }}
        {{ field_errors(field, size) }}
    </div>
    {% else %}
    <label class="label {% if hide_label %}is-hidden{% endif %}" for="{{ field.id }}">
        {% if label %}{{ label }}{% else %}{{ field.label }}{% endif %}
    </label>
    <div class="control {% if expanded %}is-expanded{% endif %}">
        {{ field_field(field, size, expanded, style, hide_description, label, **kwargs) }}
        {{ field_errors(field, size) }}
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro field_field(field, size, expanded, style, hide_description, label) -%}
{% if field.type == 'SelectField' or field.type == 'SelectChoicesField' or field.type == 'ModelSelectField' %}
{{ select_field(field, size, expanded, style, **kwargs) }}
{% elif field.type == 'HiddenField' or field.type == 'CSRFTokenField' %}
{{ hidden_field(field, **kwargs) }}
{% elif field.type == 'BooleanField' %}
{{ checkbox_field(field, style, **kwargs) }}
{% elif field.type == 'FileField' %}
{{ file_field(field, size, expanded, style, label, **kwargs) }}
{% elif field.type == 'TextAreaField' %}
{{ textarea_field(field, size, expanded, style, **kwargs) }}
{% elif field.type == 'RadioField' %}
{{ radio_field(field, size, expanded, style, **kwargs) }}
{% else %}
{{ input_field(field, size, style, **kwargs) }}
{% endif %}
{% if field.description and not hide_description %}
<p class="help is-{{ size }}">{{ field.description }}</p>
{% endif %}
{%- endmacro %}

{% macro field_errors(field, size='normal') -%}
{% if field.errors %}
<p class="help is-link is-{{ size }} has-text-weight-semibold">
    {% for error in field.errors %}{{ error }} {% endfor %}
</p>
{% endif %}
{%- endmacro %}

{% macro field_classes(field, size, expanded, style) -%}
{% if size %}is-{{ size }}{% endif %} {% if style %}is-{{ style }}{% endif %} {% if field.errors %}is-danger{% endif %}
{%- endmacro %}

{% macro input_field(field, size, style) -%}
<div class="field {{ field_classes(field) }}">
    {% if size %}{% set is_size = ' is-' + size %}{% else %}{% set is_size = '' %}{% endif %}
    {% if style %}{% set is_style = ' is-' + style %}{% else %}{% set is_style = '' %}{% endif %}
    {{ field(class='input' + is_size + is_style, placeholder=field.placeholder or field.label.text,**kwargs)|safe }}
</div>
{%- endmacro %}

{% macro textarea_field(field, size, expanded, style) -%}
<div class="field {{ field_classes(field, size, expanded, style) }} {% if expanded %}is-fullwidth{% endif %}">
    {{ field(class='textarea', **kwargs)|safe }}
</div>
{%- endmacro %}

{% macro select_field(field, size='normal', expanded=0, style='') -%}
<div class="select {{ field_classes(field, size, expanded, style) }} {% if expanded %}is-fullwidth{% endif %}">
    {{ field(**kwargs)|safe }}
</div>
{%- endmacro %}

{% macro hidden_field(field) -%}{{ field(**kwargs)|safe }}{%- endmacro %}

{% macro select_field(field, size='normal', expanded=0, style='') -%}
<div class="select {{ field_classes(field, size, expanded, style) }} {% if expanded %}is-fullwidth{% endif %}">
    {{ field(**kwargs)|safe }}
</div>
{%- endmacro %}

{% macro checkbox_field(field, label='') %}
<label class="checkbox">{{ field(**kwargs)|safe }} {{ label or field.label.text }}</label>
{% endmacro %}

{% macro file_field(field, size='normal', expanded=0, style='', label='') -%}
<div class="file  {% if expanded %}is-fullwidth{% endif %} {{ field_classes(field, size, expanded, style) }}">
    <label class="file-label">
        {{ field(class='file-input', **kwargs)|safe }}
        <span class="file-cta">
            <span class="file-label">
                {{ label or 'Choisir le fichier' }}
            </span>
        </span>
    </label>
</div>
{%- endmacro %}


{% macro paginate(pagination, endpoint) -%}
{% if pagination.get_page_count() > 1 %}
{% set current_page = pagination.get_page() %}

<nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <a href="{{ url_for(endpoint) }}?page={{ current_page-1 }}" class="pagination-previous" {% if current_page==1
        %}disabled{% endif %}>Précédent</a>
    <a href="{{ url_for(endpoint) }}?page={{ current_page+1 }}" class="pagination-next" {% if
        pagination.get_page_count()==current_page %}disabled{% endif %}>Suivant</a>
    <ul class="pagination-list">
        {% for number in range(1, pagination.get_page_count() + 1) %}
        <li><a class="pagination-link {% if number == current_page %}is-current{% endif %}"
                aria-label="Aller à la page {{ number }}" href="{{ url_for(endpoint) }}?page={{ number }}">{{ number
                }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
{%- endmacro %}

{% macro email_button(label, link) -%}
<!-- Button : BEGIN -->
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" class="button-table">
    <tr>
        <td class="button-td">
            <a href="{{ link }}" class="button-a">
                <span class="button-link">&nbsp;&nbsp;{{ label }}&nbsp;&nbsp;</span>
            </a>
        </td>
    </tr>
</table>
<!-- Button : END -->
{%- endmacro %}

{% macro email_unsubscribe(user, output='html') -%}
{% if output == 'html' %}
<p>
    Pour ne plus recevoir ce genre de courriel (résultat d’un pronostic, matches à venir, ...)&nbsp;:&nbsp;
    <a href="{{ url_for('prono.user_unsubscribe', pk=user.id, code=user.code, _external=True) }}">désabonnement</a>
</p>
{% else %}
Pour ne plus recevoir ce genre de courriel (résultat d’un pronostic, matches à venir, ...) :
{{ url_for('prono.user_unsubscribe', pk=user.id, code=user.code, _external=True) }}
{% endif %}
{%- endmacro %}