<div class="column is-one-quarter">
{% if form %}
    <form class="card card-forecast" method="POST" action="{{ url_for('.forecast_form', game_id=game.id) }}" id="form-forecast-{{ game.id }}">
{% else %}
    <div class="card card-forecast" id="card-forecast-{{ game.id }}">
{% endif %}
        <header class="card-header">
            <p class="card-header-title">{{ game.home_team.flag }} {{ game.home_team.name }} <br>{{ game.away_team.flag }} {{ game.away_team.name }}</p>
        </header>
        <div class="card-teams">
            <img src="{{ url_for('static', filename=game.home_team.avatar_url) }}" alt="{{ game.home_team }}">
            <img src="{{ url_for('static', filename=game.away_team.avatar_url) }}" alt="{{ game.away_team }}">
        </div>
        <div class="card-content">
            <div class="content">
                <p>{{ game.get_phase_display|capitalize }}<br>
                     <time datetime="{{ game.date|date('%Y-%m-%d %H:%M') }}">{{ game.date|date('%A %d/%m à %H:%M') }}</time></p>
            </div>
{% if form %}
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.goals_home_team, label=game.home_team.country) }}
            {{ horizontal_field(form.goals_away_team, label=game.away_team.country) }}
            {% if game.question %}{{ vertical_field(form.answer, label=game.question, expanded=1) }}{% endif %}
            {% if game.phase != 'pools' %}{{ vertical_field(form.shoot_out_victory, expanded=1) }}{% endif %}
{% endif %}
        </div>
{% if form %}
        <footer class="card-footer">
            <button class="card-footer-button is-success" type="submit" {% if form._locked %}disabled{% endif %}>
                {% if form._id %}Modifier{% else %}Enregistrer{% endif %}
            </button>
            {% if form._id %}
            <a class="card-footer-button is-danger" href="{{ url_for('.forecast_cancel', pk=form._id) }}" {% if form._locked %}disabled{% endif %}>Annuler</a>
            {% endif %}
        </footer>
{% endif %}
{% if form %}
    </form>
{% else %}
    </div>
{% endif %}
</div>