{% extends 'pronos.html' %}
{% block title %}Archives des matches{% endblock %}
{% block subtitle %}Les matches passés et les points gagnés (ou perdus){% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">{{ self.title() }}</h2>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>match</th>
                    <th>date</th>
                    <th>résultat</th>
                    {% if current_user.is_authenticated %}
                    <th>points</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for game in object_list %}
                <tr>
                    <td><a href="{{ game.get_absolute_url }}">{{ game.home_team.flag }} {{ game.home_team.name }} - {{ game.away_team.name }} {{ game.away_team.flag }}</a></td>
                    <td>{{ game.date|date('%A %d/%m') }}</td>
                    {% if game.done %}
                    <td>
                        {{ game.goals_home_team }} - {{ game.goals_away_team }}
                        {% if game.shoot_out_victory %}<br>Tirs aux buts: {{ game.winner_name.flag }}{% endif %}
                    </td>
                    {% else %}
                    <td class="is-italic">prochainement</td>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <th>{{ game.user_forecast(current_user).score or '-'}}</th>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination %}
        {{ paginate(pagination, '.archives') }}
        {% endif %}
    </div>
</section>

{% endblock %}

{% block javascript %}{% endblock %}