{% extends 'base.html' %}
{% block navbar_container %}
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item {% if active_page == 'homepage' %}is-active{% endif %}" href="{{ url_for('homepage') }}">
                    Wootball
                </a>
                <div class="navbar-burger burger" data-target="navbar-responsive">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbar-responsive" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item {% if active_page == 'dashboard' %}is-active{% endif %}" href="{{ url_for('admin.dashboard') }}">Bijour</a>
                    <a class="navbar-item {% if active_page == 'teams' %}is-active{% endif %}" href="{{ url_for('admin.teams') }}">Équipes</a>
                    <a class="navbar-item {% if active_page == 'games' %}is-active{% endif %}" href="{{ url_for('admin.games') }}">Matchs</a>
                    <a class="navbar-item {% if active_page == 'users' %}is-active{% endif %}" href="{{ url_for('admin.users') }}">Utilisateurs</a>
                    <a class="navbar-item {% if active_page == 'groups' %}is-active{% endif %}" href="{{ url_for('admin.groups') }}">Groupes</a>
                    <a class="navbar-item {% if active_page == 'forecasts' %}is-active{% endif %}" href="{{ url_for('admin.forecasts') }}">Pronostics</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock navbar_container %}
{% block css %}
<style>
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
</style>
{% endblock css %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/tablesort.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tablesort.date.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tablesort.number.min.js') }}"></script>
<script>
    new Tablesort(document.getElementById('admin-table'));
</script>
{% endblock %}