<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title_container %}{% block title %}{% endblock %} - Wootball{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block subtitle %}Tous les 4 ans, WeWant2Wecord (la division disques de ww2w) a l’intention de publier une compile en rapport avec le football afin d’être raccord avec le début de la Coupe du Monde de foutcheubaulle. Le foot c’est p’têtre un truc de beauf mais on s’en fout, dans « beauf », y a « beau » (avec en sus le « f » de « foot »).{% endblock %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#00a650">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-config" content="{{ url_for('static', filename='favicons/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="{{ url_for('static', filename='images/og-image.jpg') }}">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:description" content="Le wootball c'est une union entre le foot et la pop">
    <meta property="og:title" content="Wootball">
    <meta property="og:url" content="https://wootball.fr">
    {% block meta %}{% endblock %}
{% block css_container %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wootball.css', v=config.VERSION) }}">
    {% block css %}{% endblock %}
{% endblock css_container %}
</head>

<body class="{% if session.lang %}lang-{{ session.lang }} {% endif %}{% block body_class %}{% endblock %}">

{% block navbar_container %}
{% endblock navbar_container %}

{% block content_container %}
    {%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
    <section class="section">
        <div class="container">
        {% for category, message in messages %}
        <div class="notification is-{% if category == 'error' %}danger{% else %}{{ category }}{% endif %}">{{ message }}</div>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    {%- endwith %}
    {% block content %}{% endblock %}
{% endblock content_container %}

{% block footer_container %}
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Wootball</strong> est un site de la nébuleuse <a href="https://ww2w.fr" rel="external">WeWant2Wigoler</a>
            </p>    
        </div>
    </div>
</footer>
{% endblock footer_container %}

{% block javascript_container %}
    <script src="{{ url_for('static', filename='js/wootball.js', v=config.VERSION) }}"></script>
    {% block javascript %}{% endblock %}
{% endblock javascript_container %}
</body>
</html>