{% extends 'base.html' %}

{% block content_container %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock content_container %}