{% extends 'frontend.html' %}
{% set active_page = 'jeux' %}
{% block title %}Dézingue Schumacher dézingue{% endblock %}
{% block subtitle %}Fais toi plaisir...{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure>
                    <img src="{{ url_for('static', filename='images/dezingue-schumacher.png') }}" style="margin-top: -12px">
                    <img id="layer-nez" src="{{ url_for('static', filename='images/dezingue-schumacher-nez.png') }}" class="is-invisible is-overlay">
                    
                    <img id="layer-bouche" src="{{ url_for('static', filename='images/dezingue-schumacher-bouche.png') }}" class="is-invisible is-overlay">
                    <img id="layer-beuschen" src="{{ url_for('static', filename='images/dezingue-schumacher-beuschen.png') }}" class="is-invisible is-overlay">
                    <img id="layer-maillot" src="{{ url_for('static', filename='images/dezingue-schumacher-maillot.png') }}" class="is-invisible is-overlay">
                    <img id="layer-nike" src="{{ url_for('static', filename='images/dezingue-schumacher-nike.png') }}" class="is-invisible is-overlay">
                    <img id="layer-chauve" src="{{ url_for('static', filename='images/dezingue-schumacher-chauve.png') }}" class="is-invisible is-overlay">
                    <img id="layer-oeuf" src="{{ url_for('static', filename='images/dezingue-schumacher-oeuf.png') }}" class="is-invisible is-overlay">
                    <img id="layer-beurre" src="{{ url_for('static', filename='images/dezingue-schumacher-beurre.png') }}" class="is-invisible is-overlay">
                    <img src="{{ url_for('static', filename='images/dezingue-schumacher-blank.png') }}" usemap="#Map" class="is-overlay">
                </figure>
                <map name="Map" id="Map">
                    <area data-layer="beuschen" href="#" shape="poly" coords="363,590,404,588,398,620,367,615" />
                    <area data-layer="nike" href="#" shape="poly" coords="124,532,196,531,191,575,135,571" />
                    <area data-layer="bouche" href="#" shape="poly" coords="179,296,247,301,246,338,186,338" />
                    <area data-layer="nez" href="#" shape="poly" coords="209,207,192,276,231,283,218,206" />
                    <area data-layer="oeuf" href="#" shape="poly" coords="166,206,200,205,196,232,171,234" />
                    <area data-layer="beurre" href="#" shape="poly" coords="239,207,293,222,281,235,245,236" />
                    <area data-layer="chauve" href="#" shape="poly" coords="163,265,159,173,311,208,354,248,365,342,423,337,425,144,334,49,211,34,125,88,98,172" />
                    <area data-layer="écusson" href="#" shape="poly" coords="361,603,392,600,391,620,370,620" />
                    <area data-layer="maillot" href="#" shape="poly" coords="224,484,343,483,348,592,228,592" />
                </map>
            </div>
            <div class="column">
                    <h2 class="title">Dézingue Schumacher, dézingue</h2>
                    <div class="notification is-info">
                            <p class="content">Initialement réservé aux personnes qui avaient répondu de façon <em>rationnelle</em> au <a href="{{ url_for('jeux.quiz') }}">quiz</a>, ce moment de détente est désormais offert à tous les internautes.</p>
                        </div>
                    <p>Il peut y avoir quelques bugs mais faut insister... NOTE: les effets spéciaux ont élaborés par le beau frère d'un mec qui connaît quelqu'un qui a parlé avec Georges Lucas.</p>
                </div>
        </div>

    </div>
</section>


{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/imageMapResizer.min.js') }}"></script>
<script>
document.addEventListener("DOMContentLoaded", function (event) {
    imageMapResize();
    fuck = soundManager.createSound({
        url: "/static/audio/fuck.mp3"
    });
    document.querySelectorAll('area').forEach(function ($area) {
        $area.addEventListener('click', function ($event) {
                $event.preventDefault();
                let layer = document.getElementById('layer-' + this.getAttribute('data-layer'));
                fuck.play();
                layer.classList.toggle('is-invisible');
            },
            false);
    });
})
</script>
{% endblock %}