{% filter premailer(config.BASE_URL) %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title>{% block title %}{% endblock %} - Wootball</title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- CSS Reset : BEGIN -->
    <style>

        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }
        table table table {
            table-layout: auto;
        }

        /* What it does: Prevents underlining the button text in Windows 10 */
        .button-link {
            text-decoration: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */

        /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            .email-container {
                min-width: 320px !important;
            }
        }
        /* iPhone 6, 6S, 7, 8, and X */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
            .email-container {
                min-width: 375px !important;
            }
        }
        /* iPhone 6+, 7+, and 8+ */
        @media only screen and (min-device-width: 414px) {
            .email-container {
                min-width: 414px !important;
            }
        }

    </style>
    <!-- CSS Reset : END -->

    <style>
        body {
            margin: 0;
            background: #00a650;
            color: #FFF;
        }
        center {
            width: 100%; 
            background: #00a650;
            color: #FFF;
            text-align: left;
        }
        h1 {
            margin: 0 0 10px 0; 
            font-family: sans-serif; 
            font-size: 24px; 
            line-height: 125%; 
            color: #FFF;
            font-weight: bold;
        }
        h2 {
            margin: 0 0 10px 0; 
            font-family: sans-serif; 
            font-size: 18px; 
            line-height: 125%; 
            color: #FFF; 
            font-weight: bold;
        }
        a {
            color: #0057a7;
        }
        div.preheader {
            display: none; 
            font-size: 1px; 
            line-height: 1px; 
            max-height: 0px; 
            max-width: 0px; 
            opacity: 0; 
            overflow: hidden; 
            font-family: sans-serif;
        }
        div.email-container {
            max-width: 600px; margin: auto;
        }
        table.table {
            max-width: 600px;
            background: #00a650;
            color: #FFF;
        }
        table.footer {
            max-width: 680px; 
            font-family: sans-serif; 
            background: #00a650;
            color: #FFF;
            font-size: 12px; 
            line-height: 140%;
        }
        td.content {
            padding: 40px; 
            font-family: sans-serif; 
            font-size: 15px; 
            line-height: 140%;
            background: #00a650;
            color: #FFF;
        }
        p.signature {
            font-style:italic;
        }

        img.header {
            width: 100%; 
            max-width: 600px; 
            height: auto; 
            background: #00a650; 
            font-family: sans-serif; 
            font-size: 15px; 
            line-height: 140%; 
            color: #FFF;
            margin: auto;
        }
        .button-a {
            background: #0057a7; 
            border: 15px solid #0057a7;
            font-family: sans-serif; 
            font-size: 13px; 
            line-height: 110%; 
            text-align: center; 
            text-decoration: none; 
            display: block; 
            border-radius: 3px; 
            font-weight: bold;
        }
        .button-td {
            border-radius: 3px; 
            background: #0057a7;
             text-align: center;
        }
        .button-td,
        .button-a {
            transition: all 100ms ease-in;
        }
        span.button-link {
            color:#FFF;
        }
        table.button-table {
            margin: auto;
        }
        .button-td:hover,
        .button-a:hover {
            background: #0057a7 !important;
            border-color: #0057a7 !important;
        }
    
        /* Media Queries */
        @media screen and (max-width: 600px) {
            /* What it does: Adjust typography on small screens to improve readability */
            .email-container p {
                font-size: 17px !important;
            }
        }
    </style>
</head>
<body width="100%">
    <center>

        <div class="preheader">{% block preheader %}{% endblock %}</div>

        <div class="email-container">

            <!-- Email Body : BEGIN -->
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="table">
                <tr>
                    <td align="center">
                        <a href="{{ url_for('prono.index', _external=True) }}"><img src="{{ url_for('static', filename='artworks/scorpion.png', _external=True) }}" width="600" height="" alt="Higuita sa réaction" border="0" align="center" class="header"></a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="content">
                                    {% block content %}{% endblock %}
                                    <p class=" signature">
                                    {{ ['Footbalistiquement', 'Athlétiquement', 'Platiniquement', 'Derbyquement', 'Tactiquement', 'Pénaltyvement', 'Lucarnivement', 'Poteau-rentralement']|random }} vôtre,<br>
                                    Wootix</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>
            <!-- Email Body : END -->

            <!-- Email Footer : BEGIN -->
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="footer">
                <tr>
                    <td class="content" style="text-align: center;">
                        <strong>Wootball</strong> est un site de la nébuleuse <a href="https://ww2w.fr" rel="external">WeWant2Wigoler</a>.
                        <br>
                    </td>
                </tr>
            </table>
            <!-- Email Footer : END -->
        </div>
    </center>
</body>
</html>
{% endfilter %}