{% extends 'base.html' %}

{% block navbar_container %}
    <nav class="navbar is-transparent">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item {% if active_page == 'homepage' %}is-active{% endif %}" href="{{ url_for('homepage') }}">
                    Wootball
                </a>
                <div class="navbar-burger burger" data-target="navbar-responsive">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbar-responsive" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item {% if active_page == 'wompil' %}is-active{% endif %}" href="{{ url_for('wompil.detail') }}">Compilations</a>
                    <a class="navbar-item {% if active_page == 'prono' %}is-active{% endif %}" href="{{ url_for('prono.index') }}">Pwonostics</a>
                    <a class="navbar-item {% if active_page == 'jeux' %}is-active{% endif %}" href="{{ url_for('jeux.index') }}">Jeux</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Compte
                        </a>

                        <div class="navbar-dropdown">
{% if current_user.is_authenticated %}
                            <a class="navbar-item" href="{{ url_for('profile') }}" id="button-profile-form">Profil</a>
                            {% if current_user.has_role('coach') %}<a class="navbar-item" href="{{ url_for('admin.dashboard') }}">Admin</a>{% endif %}
    {% if current_user.group %}
                            <a href="{{ current_user.group.get_absolute_url }}" class="navbar-item" id="button-group-detail">Groupe</a>
    {% else %}
                            <a href="{{ url_for('prono.group_form') }}" class="navbar-item" id="button-group-form">Nouveau groupe</a>
    {% endif %}
                            <a class="navbar-item" href="{{ url_for_security('logout') }}" id="button-logout">Déconnexion</a>
{% else %}
                            <a href="{{ url_for_security('login') }}" class="navbar-item" id="button-login">Connexion</a>
                            <a href="{{ url_for_security('register') }}" class="navbar-item" id="button-register">Inscwiption</a>
{% endif %}
                        </div>

                    </div>
                    {% if session.lang == 'fr' %}<a class="navbar-item" href="?lang=ru">🇷🇺</a>{% else %}<a class="navbar-item" href="?lang=fr">🇫🇷</a>{% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock navbar_container %}