{% extends 'pronos.html' %}
{% block title %}{{ object }}{% endblock %}
{% block subtitle %}{{ object.get_phase_display|capitalize }} du {{ object.date|date('%A %d/%m') }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">{{ self.title() }}</h2>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <nav class="level">
            <div class="level-item">
                <div>
                    <a href="{{ object.home_team.get_absolute_url }}" title="{{ object.home_team }}">
                        <img src="{{ url_for('static', filename=object.home_team.avatar_thumbnail_url) }}" alt="{{ object.home_team }}" class="image">
                    </a>
                </div>
            </div>

            <div class="level-item has-text-centered">
                <div>
                    <p class="title">
                        {{ object.home_team.flag }}
                        {% if object.done %}{{ object.goals_home_team }} - {{ object.goals_away_team }}{% else %}? - ?{% endif %}
                        {{ object.away_team.flag }}
                        {% if object.shoot_out_victory %}<br>Victoire tirs aux buts: {{ object.winner_name.country }}{% endif %}
                    </p>
                </div>
            </div>

            <div class="level-item">
                <div>
                    <a href="{{ object.away_team.get_absolute_url }}" title="{{ object.away_team }}">
                        <img src="{{ url_for('static', filename=object.away_team.avatar_thumbnail_url) }}" alt="{{ object.away_team }}" class="image">
                    </a>
                </div>
            </div>
        </nav>
    </div>
</section>

{% if object.forecasts %}
<section class="section">
    <div class="container">
        <h2 class="title">Pronostics</h2>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th class="is-hidden-touch">Avataw</ty>
                    <th>Nom</th>
                    <th class="is-hidden-touch">Date</th>
                    <th>Prono</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for forecast in object.forecasts %}
                <tr>
                    <td class="is-hidden-touch">
                        <a href="{{ forecast.user.get_absolute_url }}"><img src="{{ url_for('static', filename=forecast.user.avatar_thumbnail_url) }}" class="image is-64x64" alt="Wavatar"></a>
                    </td>
                    <td>
                        <a href="{{ forecast.user.get_absolute_url }}">{{ forecast.user.username }}</a>
                        {% if forecast.user.group %}<br>
                        @&nbsp;<a href="{{ forecast.user.group.get_absolute_url }}">{{ forecast.user.group }}</a>
                        {% endif %}
                    </td>
                    <td class="is-hidden-touch">
                        {{ forecast.created_at|date('%d/%m à %H:%M') }}
                    </td>
                    {% if forecast.game.done %}
                    <td>
                        {{ forecast.goals_home_team }} - {{ forecast.goals_away_team }}
                        {% if forecast.shoot_out_victory %}<br>Victoire tirs aux buts: {{ forecast.winner_name.country }}{% endif %}
                    </td>
                        {% if forecast.scored_at %}
                    <td>{{ forecast.score|signed }}</td>
                        {% else %}
                    <td class="is-italic">calcul en cours</td>
                        {% endif %}
                    {% else %}
                    <td class="is-italic">secret</td>
                    <td class="is-italic">-</td>
                    {% endif %}    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}
{% endblock %}

{% block javascript %}{% endblock %}