{% extends 'frontend.html' %}
{% from '_macros.html' import horizontal_field %}
{% set active_page = 'pronos' %}
{% block title %}
{% if object.id %}Modifier le groupe {{ group }}{% else %}Créer un groupe{% endif %}
{% endblock %}
{% block subtitle %}Un groupe ça sert à faire la compet’ avec ses copaings{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        {% if object.id %}
        <p class="content is-medium">Note : n’importe quel membre peut modifier le nom, la description ou la photo du groupe, 
            c’est un genre de test pour savoir si on peut se faire confiance au sein d’un groupe volontairement constitué. 
            WW2W n’assumera bien entendu aucune des conséquences qui pourrait en découler (hmmm).</p>
        {% else %}
        <p class="content">{{ self.subtitle() }}. Une fois créé on peut y inviter des gens en leur envoyant un lien.</p>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ horizontal_field(form.name) }}
            {{ horizontal_field(form.description) }}
            {% if object.id %}
            <div class="field is-horizontal">
                <div class="field-label">Photo actuelle</div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <img src="{{ url_for('static', filename=object.avatar_url) }}" class="image" alt="Wavatar">
                        </div>
                    </div>
                </div>
            </div>
            {{ horizontal_field(form.new_avatar, label='Changer de photo') }}
            {% else %}
            {{ horizontal_field(form.new_avatar, label='Photo') }}
            {% endif %}
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-grouped">
                        {% if object.id %}
                        <p class="control"><button class="button is-primary" type="submit">Mettre à jour</button></p>
                        {% else %}
                        <p class="control"><button class="button is-primary" type="submit">Créer</button></p>
                        {% endif %}
                        <p class="control"><a class="button is-light" href="{{ url_for('prono.index') }}">Annuler</a></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}