{% extends 'centered.html' %}
{% set active_page = 'pronos' %}
{% block title %}Rejoindre le groupe {{ object }}{% endblock %}

{% block content %}

{% include "security/_messages.html" %}

<p class="content">
    Ayé, {{ current_user.username }}️ fait partie du groupe {{ object }}{% if object.description %} ({{ object.description }}).{% endif %}<br>
    (En cas de regret il est encore possible de fuir)
</p>
<p class="content">
    <a class="button is-large is-block is-primary" href="{{ url_for('.index') }}">Retour aux pronos</a>
    <a class="button is-outlined is-block is-warning" href="{{ url_for('.group_quit') }}">Fuir ce groupe</a>
</p>

{% endblock %}