{% extends 'pronos.html' %}
{% block title %}{{ object }}{% endblock %}
{% block subtitle %}{% if object.description %}{{ object.description }}{% else %}Page dédiée au groupe{% endif %}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">{{ object }}</h2>
        <nav class="level">
            <div class="level-item">
                <div>
                    <a href="{{ url_for('static', filename=object.avatar_url) }}" rel="external">
                        <img src="{{ url_for('static', filename=object.avatar_thumbnail_url) }}" class="image is-128x128" alt="Wavatar">
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">{{ object.name }}️</p>
                    <p class="title">{{ object.score }}pts</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Classement sur {{ group_count }}</p>
                    <p class="title">
                        #{{ object.ranking }} {% if object.ranking == 1 %}🏆{% endif %}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Créé le</p>
                    <p class="title">{{ object.created_at|date('%d/%m') }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Pointure moyenne</p>
                    <p class="title">
                        {{ object.shoe_size|round(2) }}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Département moyen</p>
                    <p class="title">
                        {{ object.department|round(2) }}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Aime le foot à</p>
                    <p class="title">
                        {{ object.likes_football }}%
                    </p>
                </div>
            </div>
        </nav>
        <div class="content">
            {% if object.description %}<blockquote class="is-medium">{{ object.description }}</blockquote>{% endif %}
        </div>
        {% if current_user.group.id == object.id %}
        <p class="content">
            <a href="{{ url_for('.group_form') }}" class="button is-primary">Modifier le groupe</a> 
            <a href="{{ url_for('.group_quit') }}" class="button is-danger has-confirmation">Quitter le groupe</a>
        </p>
        {% endif %}
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="title">Membres</h2>
        {% if current_user.group.id == object.id %}
        <div class="notification is-info">
            Pour inviter des copaings à rejoindre {{ object }} il faut les faire cliquer sur : <a href="{{ object.get_invitation_url }}">{{ object.get_invitation_url }}</a>
        </div>
        {% endif %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th class="is-hidden-touch">Photo</th>
                    <th>Nom</th>
                    <th>Pts</th>
                    <th class="is-hidden-touch">Pointure</th>
                    <th class="is-hidden-touch">Département</th>
                    <th>Footeux</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object.users %}
                <tr>
                    <td class="is-hidden-touch">
                        <img src="{{ url_for('static', filename=user.avatar_url) }}" class="image is-32x32" alt="Wavatar">
                    </td>
                    <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
                    <td>{{ user.score + user.score_finals }}</td>
                    <td class="is-hidden-touch">{{ user.shoe_size }}</td>
                    <td class="is-hidden-touch">{{ user.department }}</td>
                    <td>{% if user.likes_football %}ui{% else %}nan{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block javascript %}{% endblock %}