{% extends 'frontend.html' %}
{% set active_page = 'homepage' %}
{% block title %}Wootball{% endblock %}
{% block title_container %}Wootball{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third" id="div-wompils">
                <a href="{{ url_for('wompil.detail') }}">
                    <figure>
                            
                        <img src="{{ url_for('static', filename='artworks/poing.png') }}" class="image" alt="Wompils">
                        <figcaption class="is-size-3 has-text-centered">Compilations</figcaption>
                    </figure>
                </a>
            </div>
            <div class="column is-one-third" id="div-pronostics">
                <a href="{{ url_for('prono.index') }}">
                    <figure>
                            
                        <img src="{{ url_for('static', filename='artworks/gardien.png') }}" class="image" alt="Pronostics">
                        <figcaption class="is-size-3 has-text-centered">Pwonostics</figcaption>
                    </figure>
                </a>
            </div>
            <div class="column is-one-third" id="div-jeux">
                <a href="{{ url_for('jeux.index') }}">
                    <figure>
                        <img src="{{ url_for('static', filename='artworks/batard.png') }}" class="image" alt="Jeux">
                        <figcaption class="is-size-3 has-text-centered">Jeux</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}