{% extends 'frontend.html' %}
{% set active_page = 'jeux' %}
{% block title %}Jeux{% endblock %}
{% block subtitle %}TODO{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <a class="card" href="{{ url_for('jeux.quiz') }}">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ url_for('static', filename='images/harald-schumacher.jpg') }}" alt="Bâtard">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <div class="content">
                            <h2 class="title"><span class="tag is-link">Test</span> Schumacher ne serait-il pas un gros bâtard ?</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column is-one-third">
                <a class="card" href="{{ url_for('jeux.dezingue') }}">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ url_for('static', filename='images/dezingue-schumacher.png') }}" alt="Bien fait">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <div class="content">
                            <h2 class="title"><span class="tag is-link">Détente</span> Dézingue Schumacher dézingue</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}