{% extends 'frontend.html' %}
{% set active_page = 'landing' %}
{% block title_container %}Wootball 2018{% endblock %}
{% block subtitle %}Le wootball c’est une union entre le foot et la pop{% endblock %}
{% block body_class %}is-landing{% endblock %}
{% block navbar_container %}{% endblock %}
{% block footer_container %}{% endblock %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-6 is-offset-3">
                <div class="content has-text-left">
                    <h1 class="title has-text-weight-bold">{{ self.title_container() }}</h1>
                    <p class="subtitle is-italic">{{ self.subtitle() }}</p>
                    <p class="tag is-link">Lancement du site complet début mai</p>
                    <p>Après les compilations “Wootball 2010” et “Wootball 2014”, voici WOOTBALL 2018!<br>
                    Une dream team de 11 artistes pop pour/contre la Coupe du monde en Russie.<br>
                    Les 11 joueurs :</p>
                    <ol>
                        <li>ATHANASE GRANSON - Pop sophistiquée (Paris) - Hymne plein d’espoir dans le parcours des bleus</li>
                        <li>XAVIER BOYER - Funky-pop (Paris) - Hymne taquin</li>
                        <li>SUMMERS - Electro-pop (Rouen) - Hymne à reprendre en choeur (les bras en l’air)</li>
                        <li>VEIK - Kraut-pop (Caen) - Hymne à reprendre en choeur (en tenant ses voisins par les épaules)</li>
                        <li>PASTORAL DIVISION - Pop électro (Brest-Rennes) - Hymne moqueur</li>
                        <li>TOP MONTAGNE - Lo-bricolo-pop (Paris, Trotski Nautique) - Hymne sur les coupes de cheveux</li>
                        <li>MOONJELLIES - Pop à guitares (Tours) - Hymne enlevé (mais résigné)</li>
                        <li>TALMA SUNS - Pop à guitares (Caen) - Hymne funèbre</li>
                        <li>TIM KEEGAN - Pop folk (Brighton) - Hymne politique</li>
                        <li>PLAGE JEUNESSE - Pop ligne claire (Caen, Beach Youth en français) - Hymne potelé d’espérance</li>
                        <li>SOPHOMORE - Pop krautesque (Caen) - Hymne alcalin</li>
                    </ol>
                    <p>Sortie en <strong>vinyle à 500 exemplaires le 22 mai</strong> (édition incluant un cd, un code de téléchargement et un poster).</p>
                    <p>Contact : <a href="mailto:laurent@ww2w.fr">laurent@ww2w.fr</a></p>
                    <a href="https://ww2w.bandcamp.com/album/36-wecord-wootball-2018" rel="external" class="button is-success" disabled>Précommande (à partir du 20 avril)</a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}