{% extends 'frontend.html' %}
{% set active_page = 'prono' %}
{% block title %}Pronostics{% endblock %}
{% block subtitle %}Paris (est magique){% endblock %}
{% from '_macros.html' import horizontal_field, vertical_field %}

{% block content %}
<section class="section">
    <div class="container">
        {% if current_user.is_authenticated %}
        <nav class="level" id="nav-profile">
            <div class="level-item">
                <div>
                    <a href="{{ url_for('prono.user_detail', pk=current_user.id, slug=current_user.slug) }}"
                        id="link-profile-detail" title="Voir mon profil">
                        <img src="{{ url_for('static', filename=current_user.avatar_thumbnail_url) }}"
                            class="image is-128x128" alt="Wavatar" id="image-profile">
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading" id="profile-username">{{ current_user.username }}️</p>
                    <p class="title" id="profile-score">{{ current_user.score + current_user.score_finals }}pts</p>

                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Pronostics</p>
                    <p class="title" id="profile-forecasts">
                        {{ current_user.forecasts.count() }}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Classement poules</p>
                    <p class="title" id="profile-ranking">
                        {% if current_user.ranking is none %}-
                        {% else %}
                        {% if current_user.ranking == 1 and user_count > 1 %}🏆 {% endif %}
                        {{ current_user.ranking }}
                        {% endif %} / {{ user_count }}
                    </p>
                    <p class="title">{{ current_user.score }}pts</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Classement finales</p>
                    <p class="title" id="profile-ranking">
                        {% if current_user.ranking_finals is none %}-
                        {% else %}
                        {% if current_user.ranking_finals == 1 and user_count > 1 %}🏆 {% endif %}
                        {{ current_user.ranking_finals }}
                        {% endif %} / {{ user_count }}
                    </p>
                    <p class="title">{{ current_user.score_finals }}pts</p>
                </div>
            </div>
        </nav>
        {% else %}
        <div class="notification is-info" id="notification-anon">
            <p class="content">Pendant tout l’euro, wewant2wigoler organise un grand concours de pronostics.
                Pour participer il suffit de s'inscrire, pour s'inscrire y faut un courriel et pour gagner hé ben y faut
                un piti peu de la moulasse...
            </p>
            <div class="field is-grouped">
                <p class="control">
                    <a href="{{ url_for_security('login') }}" class="button is-light" id="button-login">Connexion</a>
                </p>
                <p class="control">
                    <a href="{{ url_for_security('register') }}" class="button is-light"
                        id="button-register">Inscription</a>
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% if ranks_finals %}
<section class="section" id="section-ranks">
    <div class="container">
        <h2 class="title">Taupe {{ ranks_finals|length }} pronos phases finales <a href="{{ url_for('.ranks_finals') }}"
                class="button is-light is-small">classement</a></h2>
        <ul class="columns is-multiline is-mobile">
            {% for user in ranks_finals %}
            <li class="column is-4-mobile">
                <a href="{{ user.get_absolute_url }}" title="{{ user }} : {{ user.score_finals|signed }}pts">
                    <img src="{{ url_for('static', filename=user.avatar_thumbnail_url) }}" alt="{{ user }}"
                        class="image">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

<section class="section" id="section-games">
    <div class="container">
        <h2 class="title">Prochains matchs <a href="{{ url_for('prono.archives') }}"
                class="button  is-light is-small">archives</a></h2>
        <p class="content is-medium">Pour chaque match il est possible de faire un pronostic:
            On gagne 3 points quand on trouve le vainqueur (mais on perd 1 point si on se trompe de vainqueur) !
            + 1 point quand on a le bon nombre de buts par équipe (mais -1 point si on se trompe de plus de deux buts,
            c'est subtil).
            Il y aura parfois une question bonus: +2 points quand on a bon (mais moins 1 si on se trompe) (et rien si on
            s’abstient).
        </p>
        <p class="content">
            <button class="button is-warning" id="btn-rules">Lots &amp; règlement</button>
        </p>

        <div class="columns is-multiline">
            {% if current_user.is_authenticated %}

            {% for form in forms %}
            {% with game=form.data.game %}{% include "_prono.html" %}{% endwith %}
            {% else %}
            <div class="column">
                <div class="notification  is-info">Pas de match à venir ou ouvert aux pronos, soit c’est temporaire,
                    soit l’euro est fini (et le franc, les pesetas, le deutsche mark... seront de retour).</div>
            </div>
            {% endfor %}
            {% else %}
            {% for game in games %}
            {% include "_prono.html" %}
            {% else %}
            <div class="column">
                <div class="notification  is-info">Pas de match à venir ou ouvert aux pronos, soit c’est temporaire,
                    soit l’euro est fini (et le franc, les pesetas, le deutsche mark... seront de retour).</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>



<section class="section" id="section-ranks">
    <div class="container">
        <h2 class="title">Taupe {{ ranks|length }} pronos poules <a href="{{ url_for('.ranks') }}"
                class="button is-light is-small">classement</a></h2>
        <ul class="columns is-multiline is-mobile">
            {% for user in ranks %}
            <li class="column is-4-mobile">
                <a href="{{ user.get_absolute_url }}" title="{{ user }} : {{ user.score|signed }}pts">
                    <img src="{{ url_for('static', filename=user.avatar_thumbnail_url) }}" alt="{{ user }}"
                        class="image">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>


<section class="section" id="section-teams">
    <div class="container">
        <h2 class="title">Les équipes qualifiées</h2>
        <ul class="columns is-multiline is-mobile">
            {% for team in teams %}
            <li class="column is-2-tablet is-6-mobile">
                <a href="{{ team.get_absolute_url }}" title="{{ team }}">
                    <img src="{{ url_for('static', filename=team.avatar_thumbnail_url) }}" alt="{{ team }}"
                        class="image">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="section" id="section-stats">
    <div class="container">
        <h2 class="title">Statistiques</h2>
        <div class="columns">
            <div class="column is-half has-text-centered">
                <canvas id="canvas_1"></canvas>
            </div>
            <div class="column is-half has-text-centered">
                <canvas id="canvas_2"></canvas>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half has-text-centered">
                <canvas id="canvas_3"></canvas>
            </div>
            <div class="column is-half has-text-centered">
                <canvas id="canvas_4"></canvas>
            </div>
        </div>
    </div>
</section>


<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content content">
        <h1>Règlement</h1>
        <p>Les 5 premiers du classement final pourront choisir un disque dans le catalogue
            <a href="https://ww2w.bandcamp.com/">WeWant2Wecord</a> !
        </p>
        <p>Si on l'a en stock, ce sera plaisir !</p>
        <p>Merci de votre attention.</p>
        <p class="content">Règlement déposé auprès de Maître Kilogramme, Huissier de Justice, sis au 75 chemin de la
            forêt aux bouts de bois bien choisis, 14666 Parfouru-sur-Bator.</p>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/Chart.min.js', v=config.VERSION) }}"></script>
<script src="{{ url_for('.stats_shoe_sizes', c=1) }}"></script>
<script src="{{ url_for('.stats_dep_scores', c=2) }}"></script>
<script src="{{ url_for('.stats_likes', c=3) }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        document.querySelector('#btn-rules').addEventListener('click', function (event) {
            event.preventDefault();
            var modal = document.querySelector('.modal');
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');

            modal.querySelector('.modal-background').addEventListener('click', function (e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
            });
        });
    });
</script>
{% endblock %}