{% extends 'frontend.html' %}
{% set active_page = 'jeux' %}
{% block title %}Schumacher ne serait-il pas un gros bâtard ?{% endblock %}
{% block subtitle %}La réponse est évidemment OUI mais il va être possible de s'en assurer en participant à un petit test...{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <figure class="image is-4by3">
                    <img src="{{ url_for('static', filename='images/harald-schumacher.jpg') }}" alt="Voir Harald et mourir">
                </figure>
            </div>
            <div class="column is-9">
                <h2 class="title">Schumacher ne serait-il pas un gros bâtard ?</h2>
                <div id="quiz" data-slides="5" data-win-url="{{ url_for('jeux.quiz_gagne') }}" data-fail-url="{{ url_for('jeux.quiz_merde') }}" data-lose-url="{{ url_for('jeux.quiz_minable') }}">
                    <div id="slide-1">
                        <div class="notification is-warning">
                            <p class="content">Malgré les demandes et assignations envoyées par diverses associations réactionnaires de tous bords (les associations: «&nbsp;Loi: 1901 - Séville: 1982&nbsp;», «&nbsp;Ceux qui pensent que Battiston l'avait bien cherché&nbsp;», «&nbsp;Vivent les tueurs&nbsp;» et le lobby des marchands d'armes), WW2W ne s’est pas dégonflée et a décidé de ne pas censurer cette rubrique titrée <em>Harald Schumacher ne serait-il pas un gros bâtard ?</em></p>
                        </div>
                        <p class="content">Alors, ne le serait-il pas ? Hein ? Oui ou non ? En avant pour le test ?</p>
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button  is-light slidecontrol" data-slide="2">Oui</button>
                            </p>
                            <p class="control">
                                <button class="button  is-light slidecontrol" data-slide="haine">Non</button>
                            </p>
                        </div>
                    </div>
                    <div id="slide-haine" class="is-hidden">
                        <p class="content">Je noël regrette mon choix, après réflexion, passer le test me semble une évidancelotti.</p>
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button  is-light slidecontrol" data-slide="2">Oui</button>
                            </p>
                            <p class="control">
                                <a class="button is-light" href="{{ url_for('jeux.quiz_crever') }}">Non</a>
                            </p>

                        </div>
                    </div>
                    <div id="slide-2" class="is-hidden">
                        <p class="subtitle">Tu es dans la rue et tu rencontres un personnage moustachu qui te "dit" vaguement quelque chose. Après réflexion, tu t'approches et tu lui dis:</p>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="3" data-points="-1">
                                A Guten tag, j’ai adoré ton bouquin et ton mea culpa chez Michel Drucker. Je crois complètement à tes regrets. Tu peux me dédicacer mon maillot de la Mannschaft ? ?&nbsp;»</p>
                            </div>
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="3" data-points="1">
                                B «&nbsp;Fumier de lapin, tu l'emporteras pas au paradis. Tu as brisé les rêves ruggieri de toute une génération. Tu es la preuve vivante que le mal finit toujours par l'emporter... Mais ça pourrait routourner et tu pourrais un jour le dimitri payer..&nbsp;»</p>
                            </div>
                        </div>
                    </div>
                    <div id="slide-3" class="is-hidden">
                        <p class="subtitle">Tu es engagé dans un salon de coiffure en Bavière et tu vois arriver un homme moustachu qui te "dit" vaguement quelque chose...</p>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="4" data-points="1">
                                    A «&nbsp;Tu le reconnais immédiatement et le reçois avec enthousiasme. Tu es survolté et tu lui parles des problèmes sociaux auxquels nos sociétés modernes sont confrontées. Comme tu t'y attendais, ça l'emmerde, il s'endort et tu lui rases la moustache.&nbsp;»</p>
                            </div>
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="4" data-points="-1">
                                    B «&nbsp;Tu le reconnais après quelques instants et le reçois comme un client VIP. Tu lui fais un superbe brushing et tu lui peignes même la moustache.&nbsp;»</p>
                            </div>
                        </div>
                    </div>
                    <div id="slide-4" class="is-hidden">
                        <p class="subtitle">Tu attends à côté d'une cabine téléphonique dans une zone non couverte par les opérateurs mobiles et un homme moustachu qui te "dit" vaguement quelque chose en sort et te dit en allemand quelque chose...</p>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="5" data-points="-1">
                                    A «&nbsp;Tu le prends pour le père de ton correspondant allemand et lui sautes dans les bras. Te rendant compte de ton erreur et reconnaissant ton footballeur favori tu lui proposes de lui verser une rente à vie. Il accepte.&nbsp;»</p>
                            </div>
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="5" data-points="1">
                                    B «&nbsp;Tu comprends qu'il te demande de l'argent pour téléphoner à son cousin Pierre Littbarski. Tu lui rétorques que depuis 82 tu "baptises ton" fils Patrick et que t'avais été très déschu par son attitude, que de toute façon t'as pas de "schus" et ose même ajouter que son manque de compassion fait de lui une "schu-merde". Tu mimes ensuite pendant une bonne heure la douleur ressentie par le Patrick en 82 puis tu pars comme un prince Boateng...&nbsp;»</p>
                            </div>
                        </div>
                    </div>
                    <div id="slide-5" class="is-hidden">
                        <p class="subtitle">Tu vois une voiture immatriculée à l'étranger arrêtée sur le bas côté. Le moteur fume... Tu décides d'aller proposer ton aide quand sort le chauffeur de la Mercedes noire. Sa tête te "dit" vaguement quelque chose...</p>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="6" data-points="1">
                                    A «&nbsp;Tu t'arrêtes à hauteur de ce grand moustachu. Tu lui demandes ce qui se passe. Tu le reconnais. Alors, tu lui cries "purée de coq, c’est quoi ce mec mourant tout bleu là-bas derrière vous???", il se retourne, décontenancé, et, là, tu lui lances les yeux dans les yeux: "Peut-être est-ce le fantôme de Battiston..." puis tu te barres en jouant la marseillaise au klaxon... &nbsp;»</p>
                            </div>
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="6" data-points="-1">
                                    B «&nbsp;Tu parles couramment allemand et tu entames la conversation sur sa saison d'entraîneur en Bundesliga. D'après toi, si le FC Cologne était descendu en 2ème div', c’était la faute à pas d'chance ou bien les joueurs n'avaient pas été capables de comprendre ses consignes ("Tue l'adversaire"). Enfin, tu fais 539 km pour le ramener chez lui. Il ne te remercie même pas, mais tu penses que c’est pasqu’il est timide (c'est vrai qu'il l'a prouvé en juillet 82...).&nbsp;»</p>
                            </div>
                        </div>
                    </div>
                    <div id="slide-6" class="is-hidden">
                        <p class="subtitle">Tu es fatigué... Tu trouves que ta vie est un énorme gâchis... Tu es au bout du rouleau... Tu décides d'aller déprimer dans la Ruhr... Tu es dans un bar, une chope à la main quand ton regard se pose sur ton voisin de comptoir... Il est grand, bouclé, a une moustache et affirme sortir de son entraînement d'"ultimate fighting", discipline qu'il se vante d'avoir importé d'Espagne dès 1982... Ce type te "dit" décidément quelque chose...</p>
                        <div class="columns">
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="results" data-points="1">
                                    A «&nbsp;Tu le reconnais et l'interpelles: "J’ai pardonné à Raymond Barre quand il a dévalué le franc en 79, j’ai pardonné à Giscard d'Estain quand il a perdu les élections en 81, j’ai pardonné à Jacques Chirac quand il a dissous l'assemblée en 97. Mais toi, toi "Moustacher", je ne te pardonnerai JAMAIS, jamais...." Puis, tu te lèves, t'en vas, soulagé, libéré, comprenant qu'une toute nouvelle vie s'offrait à toi...&nbsp;»</p>
                            </div>
                            <div class="column is-half">
                                <p class="slidecontrol" data-slide="results" data-points="-1">
                                    B «&nbsp;Tu lui demandes s'il n'est pas "l'acrobate moustachu de la Mannschaft circa 1982". Il te dit que oui, puis il te raconte son histoire et comment "tout ça" est arrivé. Au fil de la soirée, tu te sens étrange, ce personnage a priori détestable, t'émeut. Tu ne sais plus où tu en es et vous décidez de poursuivre la soirée dans un endroit plus intime... Trois mois plus tard, le 25 juin 2004, tu sors de l'église: tu t'appelles Madame Harald Schumacher...&nbsp;»</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}