{% extends 'pronos.html' %}
{% block title %}Classement des pronostiqueur·euse·s - {% if phase == 'pools' %}phase de poules{% else %}phases finales{% endif %}{% endblock %}
{% block subtitle %}Les jeunes adorent les sticker·euse·s{% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">{{ self.title() }}</h2>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>#</th>
                    <td class="is-hidden-touch">Avataw</td>
                    <th>Nom</th>
                    <th class="is-hidden-touch">Favori</th>
                    <th class="is-hidden-touch">Pointure</th>
                    <th class="is-hidden-touch">Département</th>
                    <th class="is-hidden-touch">Footeux</th>
                    <th>pts</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                    {% if phase == 'pools' %}
                        {% set ranking = user.ranking %}
                        {% set score = user.score %}
                    {% else %}
                        {% set ranking = user.ranking_finals %}
                        {% set score = user.score_finals %}
                    {% endif %}
                <tr>
                    <td>
                        
                        {% if ranking is none %}-
                        {% else %}
                            {% if ranking == 1 %}🏆 {% endif %}
                            {{ ranking }}
                        {% endif %}
                    </td>
                    <td class="is-hidden-touch">
                        <a href="{{ user.get_absolute_url }}"><img src="{{ url_for('static', filename=user.avatar_thumbnail_url) }}" class="image is-64x64" alt="Wavatar"></a>
                    </td>
                    <td>
                        <a href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                        {% if user.group %}<br>
                        @&nbsp;<a href="{{ user.group.get_absolute_url }}">{{ user.group }}</a>
                        {% endif %}
                    </td>
                    <td class="is-hidden-touch">
                        {% if user.favorite %}
                        <a href="{{ user.favorite.get_absolute_url }}">{{ user.favorite.flag }} {{ user.favorite.name }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td class="is-hidden-touch">{{ user.shoe_size }}</td>
                    <td class="is-hidden-touch">{{ user.department }}</td>
                    <td class="is-hidden-touch">{% if user.likes_football %}ui{% else %}nan{% endif %}</td>
                    <td>
                        {{ score|signed }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination %}
            {% if phase == 'pools' %}
            {{ paginate(pagination, '.ranks') }}
            {% else %}
            {{ paginate(pagination, '.ranks_finals') }}
            {% endif %}
        {% endif %}
    </div>
</section>

{% endblock %}
