{% extends 'pronos.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block subtitle %}Infos et statistiques pour {{ object }}{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <h2 class="title">{{ object.flag }} {{ object.name }}</h2>
        <nav class="level">
            <div class="level-item">
                <div>
                    <a href="{{ url_for('static', filename=object.avatar_url) }}" rel="external">
                        <img src="{{ url_for('static', filename=object.avatar_url) }}" alt="{{ object }}" class="image is-128x128">
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Matches</p>
                    <p class="title">{{ object.games.count() }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Victoires</p>
                    <p class="title">{{ object.games_won }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Défaites</p>
                    <p class="title">{{ object.games_lost }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Nuls</p>
                    <p class="title">{{ object.games_draw }}</p>
                </div>
            </div>
        </nav>
    </div>
</section>

{% if object.games %}
<section class="section">
    <div class="container">
        <h2 class="title"> Matches</h2>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Match</th>
                    <th class="is-hidden-touch">Phase</th>
                    <th>Date</th>
                    <th>Résultat</th>
                    <th class="is-hidden-touch">Pronos</th>
                    <th class="is-hidden-touch">Pts distribués</th>
                </tr>
            </thead>
            <tbody>
                {% for game in object.games %}
                <tr>
                    <td>
                        <a href="{{ game.get_absolute_url }}">
                            <span class="is-hidden-touch">{{ game.home_team.flag }} {{ game.home_team.name }} - {{ game.away_team.name }} {{ game.away_team.flag }}</span>
                            <span class="is-hidden-tablet">{{ game.home_team.country }}<br>{{ game.away_team.country }}</span>
                        </a>
                    </td>
                    <td class="is-hidden-touch">{{ game.get_phase_display }}</td>
                    <td>{{ game.date|date('%d/%m') }}</td>
                    {% if game.done %}
                    <td>{{ game.goals_home_team }} - {{ game.goals_away_team }}</td>
                    {% else %}
                    <td class="is-italic">prochainement</td>
                    {% endif %}
                    <td class="is-hidden-touch">{{ game.forecasts.count() or '-' }}</td>
                    <td class="is-hidden-touch">{{ game.score|signed or '-' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}

{% if object.supporters %}
<section class="section">
    <div class="container">
        <h2 class="title">Supporter·ère·s</h2>
        
        <ul class="columns is-multiline">
            {% for user in object.supporters %}
            <li class="column is-2">
                <a href="{{ user.get_absolute_url }}" title="{{ user }}">
                    <img src="{{ url_for('static', filename=user.avatar_thumbnail_url) }}" alt="{{ user }}" class="image">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}


{% endblock %}
{% block javascript %}{% endblock %}