{% extends 'pronos.html' %}
{% block title %}La fiche du {{ object }}{% endblock %}
{% block subtitle -%}
J’aime{% if object.likes_football == False %} pas{% endif %} le foot et je chausse du {{ object.shoe_size}} dans le {{ object.department }}. {% if object.favorite %}Mes chouchous (baby t'cha t'cha) c'est : {{ object.favorite.name }}. {% endif %}
{% if object.description %}{{ object.description }}{% endif %}
{%- endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h2 class="title">{{ self.title() }}</h2>
        <nav class="level">
            <div class="level-item">
                <div>
                    <a href="{{ url_for('static', filename=object.avatar_url) }}" rel="external">
                        <img src="{{ url_for('static', filename=object.avatar_thumbnail_url) }}" class="image is-128x128" alt="Wavatar">
                    </a>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Score poules</p>
                    <p class="title">{{ object.score }}pts</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Score phases finales</p>
                        <p class="title">{{ object.score_finals }}pts</p>
                    </div>
                </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Classement poules</p>
                    <p class="title">
                        {% if object.ranking is none %}-
                        {% else %}
                            {% if object.ranking == 1 and user_count > 1 %}🏆 {% endif %}
                            {{ object.ranking }}
                        {% endif %} / {{ user_count }}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Classement phases finales</p>
                    <p class="title">
                        {% if object.ranking_finals is none %}-
                        {% else %}
                            {% if object.ranking_finals == 1 and user_count > 1 %}🏆 {% endif %}
                            {{ object.ranking_finals }}
                        {% endif %} / {{ user_count }}
                    </p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Inscription</p>
                    <p class="title">{{ object.created_at|date('%d/%m') }}</p>
                </div>
            </div>
        </nav>
        <div class="content">
            <blockquote class="is-medium">{{ self.subtitle()|replace('\n', '<br>'|safe) }}</blockquote>
        </div>
    </div>
</section>
{% if object.forecasts %}
<section class="section">
    <div class="container">
        <h2 class="title">Pronostics</h2>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>match</th>
                    <th class="is-hidden-touch">date</th>
                    <th>prono</th>
                    <th>résultat</th>
                    <th>pts</th>
                </tr>
            </thead>
            <tbody>
                {% for forecast in object.forecasts %}
                <tr>
                    <td>
                        <a href="{{ forecast.game.get_absolute_url }}">
                            <span class="is-hidden-touch">{{ forecast.game.home_team.flag }} {{ forecast.game.home_team.name }} - {{ forecast.game.away_team.name }} {{ forecast.game.away_team.flag }}</span>
                            <span class="is-hidden-desktop">{{ forecast.game.home_team.country }} {{ forecast.game.away_team.country }}</span>
                        </a><br>
                        {{ forecast.game.get_phase_display|capitalize }}
                    </td>
                    <td class="is-hidden-touch">{{ forecast.created_at|date('%d/%m à %H:%M') }}</td>
                    {% if forecast.game.done %}
                    <td>
                        {{ forecast.goals_home_team }} - {{ forecast.goals_away_team }}
                        {% if forecast.shoot_out_victory %}<br>Tirs aux buts: {{ forecast.winner_name.country }}{% endif %}
                    </td>
                    <td>
                        {{ forecast.game.goals_home_team }} - {{ forecast.game.goals_away_team }}
                        {% if forecast.game.shoot_out_victory %}<br>Tirs aux buts: {{ forecast.game.winner_name.country }}{% endif %}
                    </td>
                        {% if forecast.scored_at %}
                    <td>{{ forecast.score|signed }}</td>
                        {% else %}
                    <td class="is-italic">calcul en cours</td>
                        {% endif %}
                    {% else %}
                    <td class="is-italic">secret</td>
                    <td class="is-italic">-</td>
                    <td class="is-italic">-</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% else %}
<section class="section">
    <div class="container">
        <h2 class="title">Pronostics</h2>
        <p class="content is-italic">{{ object }} n’a pas encore fait de pronostics, peut-être qu’il est resté coincé au bloc sanitaire ?</p>
    </div>
</section>
{% endif %}

{% endblock %}

{% block javascript %}{% endblock %}
