{% extends 'frontend.html' %}
{% set active_page = 'wompil' %}
{% block title %}{{ wompil.title }}{% endblock %}
{% block subtitle %}{{ wompil.summary }}{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <aside class="menu">
                    <ul class="menu-list has-text-centered" id="menu-wompils">
                        {% for item in wompils %}
                        <li>
                            <a href="{{ url_for('wompil.detail', version=item.id) }}" class="link-wompil {% if item.id == current %}is-active{% endif %}" title="{{ item.title }}">{{ item.short }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="column is-5">
                <figure class="image">
                    <img src="{{ url_for('static', filename=wompil.cover) }}" alt="{{ wompil.title }}">
                </figure>
                <br>
                <p class="content has-text-centered" id="buttons-buy">
                    {% for format, media in wompil.medias.items() %}
                    <a class="button is-primary is-large" href="{{ media.url }}" {% if media.soldout %}disabled{% endif %} title="{{ media.description }}">Achat {{ format }} {{ media.price }}€</a>
                    {% endfor %}
                </p>
            </div>
            <div class="column is-6" id="desc">
                <div class="content">
                    <h1 class="title has-text-weight-bold ">{{ wompil.summary }}</h1>
                    {{ wompil.description|markdown }}
                </div>
                {% if wompil.events %}
                <div class="notification is-info">
                <strong>Événements: </strong>
                <ul>
                {% for id, event in wompil.events.items() %}
                    <li>{{ event.date }} - <a href="{{ event.link }}" rel="external">{{ event.title }}</a></li>
                {% endfor %}
                </ul>
                </div>
                {% endif %}
                <table class="table is-fullwidth tracklist" id="tracklist-{{ current }}">
                    <thead class="is-hidden">
                        <tr>
                            <th>Lecture</th>
                            <th>Piste</th>
                            <th>Artiste</th>
                            <th>Titre</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for number, track in wompil.tracklist.items() %}
                        <tr class="track" {% if track.file %}data-file="{{ url_for('static', filename=track.file) }}"{% endif %}>
                            <td><button class="button is-small play-button {% if not track.file %}is-hidden{% endif %}" data-track="{{ loop.index0 }}">▶</button></td>
                            <td>{{ number }}</td>
                            <td><a href="#track-{{ number }}">{{ track.band.name }}</a></td>
                            <td>{{ track.title }}</td>
                        </tr>
    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% if wompil.videos %}
<section class="section is-orange">
    <div class="container">
        <div class="columns">
            {% for number, video in wompil.videos.items() %}
            <div class="column is-one-third has-text-centered">
                {% if video.url %}
                <iframe src="{{ video.url }}?&amp;controls=0&amp;showinfo=0" class="video" allowfullscreen></iframe>
                {% else %}
                <img src="{{ url_for('static', filename='images/video-placeholder.png') }}" alt="bientôt">
                {% endif %}
                <h3 class="has-text-weight-bold">{{ video.title }} {% if not video.url %}<span class="tag is-warning">bientôt</span>{% endif %}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% for number, track in wompil.tracklist.items() %}
<section class="section {{ loop.cycle('is-blue', 'is-yellow', 'is-orange', 'is-green') }} track" id="track-{{ number }}">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="columns is-mobile is-multiline">
                {% for name, member in track.band.members.items() %}
                    <div class="column is-half">
                        <div class="card panino">
                            <div class="card-image">
                                <figure class="image">
                                    {% if member.portrait %}
                                    {% set filename = member.portrait %}
                                    {% else %}
                                    {% set filename = 'portraits/' + name|slugify + '.png' %}
                                    {% endif %}
                                    <img src="{{ url_for('static', filename=filename) }}" alt="{{ name }}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    {{ name|namebreak|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="column is-two-third content">
                <h2 class="title has-text-weight-bold">{{ track.band.name|clubname }} <a href="{{ track.band.url }}" class="button is-small is-primary is-inverted is-outlined" rel="external">site internet</a></h2>
                <h3 class="subtitle"><button class="button is-small play-button {% if not track.file %}is-hidden{% endif %}" data-track="{{ loop.index0 }}">▶</button> {{ track.title }} <span class="tag is-light">{{ track.length }}</span></h3>
                {% if track.band.bio %}{{ track.band.bio|markdown }}{% endif %}
                {% if track.description %}{{ track.description|markdown }}{% endif %}
                {% if track.credits %}
                <span class="has-text-weight-bold">Crédits</span>
                {{ track.credits|markdown }}
                {% endif %}
                <a href="#desc" class="button is-small is-primary is-inverted is-outlined is-pulled-right">⇪ retour</a>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock %}