{% extends 'email.html' %}
{% from '_macros.html' import email_button %}

{% block title %}Mot de passe modifié{% endblock %}
{% block preheader %}Juste pour dire que le mot de passe a été changé{% endblock %}

{% block content %}
<h1>{{ user.username }},</h1>
<p>Votre mot de passe a bien été modifié.</p>
{% if security.recoverable %}
    {% set forgot_password = url_for_security('forgot_password', _external=True) %}
    <p>Si ça n’est point de votre fait, mieux vaudrait le changer à nouveau :</p>
    {{ email_button('Risette mon mot de passe', forgot_password ) }}
{% endif %}
{% endblock %}