{% extends 'email.html' %}
{% from '_macros.html' import email_button %}

{% block title %}Mot de passe perdu{% endblock %}
{% block preheader %}Un lien à cliquer pour péchopper un nouveau depassemot{% endblock %}

{% block content %}
<h1>{{ user.username }},</h1>
<p>Après mûres réflexions, la fédé a décidé de vous accorder un nouveau mot de passe.</p>
<p>Merci de suivre, par la présente, l’hyperlien soumentionné.</p>
{{ email_button('Risette mon mot de passe', reset_link ) }}
{% endblock %}