{% extends 'email.html' %}
{% from '_macros.html' import email_button %}

{% block title %}Inscription à wootball{% endblock %}
{% block preheader %}
{% if security.confirmable %}
Un lien à cliquer pour finaliser l’inscription
{% else %}
C’est juste pour dire que tout se passe bien jusque là
{% endif %}
{% endblock %}

{% block content %}
<h1>Wilkommen {{ user.username }},</h1>
<p>Merci de participer au tournoi de pronostics de l’euro 2020, c’est sympa.</p>
<p>Maintenant vous pouvez créer un groupe pour y inviter des copaings, aller jouer aux jeux et acheter plusieurs
    exemplaires de la Wompil de cette année
    (ce à quoi vous vous êtes contractuellement engagé en vous inscrivant).</p>
{% if security.confirmable %}
<p>Ça serait soin de confirmer que les courriels fonctionnent bien entre nous en cliquant là dessus :</p>
{{ email_button('Je confirme', confirmation_link ) }}
<p>Mercix</p>
{% else %}
{{ email_button('Je viens', url_for('prono.index', _external=True) ) }}
{% endif %}
{% endblock %}