{% extends 'frontend.html' %}
{% from '_macros.html' import horizontal_field %}
{% set active_page = 'prono' %}
{% block title %}Changer de mot de passe{% endblock %}
{% block subtitle %}Ouais, c’est plus prudent, l’ancien était naze{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <form method="POST" name="change_password_form">
            {{ change_password_form.hidden_tag() }}
            {{ horizontal_field(change_password_form.password) }}
            {{ horizontal_field(change_password_form.new_password) }}
            {{ horizontal_field(change_password_form.new_password_confirm) }}
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-success" type="submit">Enregistrer</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('profile') }}" class="button is-info is-outlined">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
