{% extends 'frontend.html' %}
{% from '_macros.html' import horizontal_field %}
{% set active_page = 'prono' %}
{% block title %}Mot de passe perdu{% endblock %}
{% block subtitle %}Alors comme ça on se souvient du nom du soulier d’or de ’82 mais pas de son mot de passe ?{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <form method="POST" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            {{ horizontal_field(forgot_password_form.email) }}
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">Solliciter un mot de passe</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for_security('login') }}" class="button is-primary is-inverted is-outlined">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}