{% extends 'centered.html' %}
{% from '_macros.html' import vertical_field %}
{% set active_page = 'login' %}
{% block title %}Connexion{% endblock %}
{% block subtitle %}Connexion{% endblock %}

{% block content %}

{% include "security/_messages.html" %}
<h1 class="title">Connexion</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
    {{ login_user_form.hidden_tag() }}
    {{ vertical_field(login_user_form.email, hide_label=1, size='large') }}
    {{ vertical_field(login_user_form.password, hide_label=1, size='large', hide_description=1) }}
    {{ vertical_field(login_user_form.remember, label='Rester connecté') }}
    <button class="button is-block is-primary is-large is-fullwidth" type="submit">Connexion</button>
</form>
<p class="content">
    <a href="javascript:history.back()">Retour</a> / 
    <a href="{{ url_for_security('forgot_password') }}">Mot de passe perdu</a> / 
    <a href="{{ url_for_security('register') }}">Inscription</a>
</p>

{% endblock %}