{% extends 'centered.html' %}
{% set active_page = 'register' %}
{% block title %}Pouce{% endblock %}

{% block content %}

{% include "security/_messages.html" %}
<p class="content">
    <a href="{{ url_for('homepage') }}">Retour à l’accueil</a> 
</p>

{% endblock %}