{% extends 'frontend.html' %}
{% from '_macros.html' import horizontal_field %}
{% set active_page = 'prono' %}
{% block title %}Profil {{ current_user.username }}{% endblock %}
{% block subtitle %}Pour modifier son profil &amp; sa photo{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <form method="POST" name="user_profile_form" enctype="multipart/form-data">
            {{ user_profile_form.hidden_tag() }}
            {{ horizontal_field(user_profile_form.email) }}
            {{ horizontal_field(user_profile_form.username) }}
            {{ horizontal_field(user_profile_form.description) }}
            <div class="field is-horizontal">
                <div class="field-label is-normal">Photo actuelle</div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <img src="{{ url_for('static', filename=current_user.avatar_url) }}" class="image" alt="Wavatar">
                        </div>
                    </div>
                </div>
            </div>
            {{ horizontal_field(user_profile_form.new_avatar, label='Changer de photo') }}
            {{ horizontal_field(user_profile_form.favorite,  expanded=1) }}
            {{ horizontal_field(user_profile_form.shoe_size, expanded=1) }}
            {{ horizontal_field(user_profile_form.department, expanded=1) }}
            {{ horizontal_field(user_profile_form.likes_football) }}
            {{ horizontal_field(user_profile_form.mailable) }}
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">Mettre à jour</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for_security('change_password') }}" class="button is-primary">Changer de mot de passe</a>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('prono.index') }}" class="button is-light">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}