{% extends 'frontend.html' %}
{% from '_macros.html' import horizontal_field %}
{% set active_page = 'prono' %}
{% block title %}Inscription à wootball{% endblock %}
{% block subtitle %}Une inscription à wootball.fr = un jongle offert (ultérieurement){% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form"
            enctype="multipart/form-data">
            {{ register_user_form.hidden_tag() }}
            {{ horizontal_field(register_user_form.email) }}
            {{ horizontal_field(register_user_form.username) }}
            {{ horizontal_field(register_user_form.password) }}
            {% if register_user_form.password_confirm %}
            {{ horizontal_field(register_user_form.password_confirm) }}
            {% endif %}
            {{ horizontal_field(register_user_form.favorite, expanded=1) }}
            {{ horizontal_field(register_user_form.shoe_size, expanded=1) }}
            {{ horizontal_field(register_user_form.department, expanded=1) }}
            {{ horizontal_field(register_user_form.antispam) }}
            {{ horizontal_field(register_user_form.likes_football) }}
            {{ horizontal_field(register_user_form.mailable) }}
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Inscription</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for('prono.index') }}"
                                class="button is-danger is-inverted is-outlined">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}