{% extends 'frontend.html' %}
{% from '_macros.html' import horizontal_field %}
{% set active_page = 'prono' %}
{% block title %}Changer de mot de passe{% endblock %}
{% block subtitle %}(Le soulier d’or de ’82 c’était Paolo Rossi){% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <p class="content is-medium">{{ self.subtitle() }}</p>
        <form method="POST" name="reset_password_form" action="{{ url_for_security('reset_password', token=reset_password_token) }}">
            {{ reset_password_form.hidden_tag() }}
            {{ horizontal_field(reset_password_form.password) }}
            {{ horizontal_field(reset_password_form.password_confirm) }}
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" type="submit">Enregistrer</button>
                        </div>
                        <div class="control">
                            <a href="{{ url_for_security('login') }}" class="button is-primary is-inverted is-outlined">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}