{% extends 'backend.html' %}
{% set active_page = 'dashboard' %}
{% block title %}Tableau de bord{% endblock %}
{% block subtitle %}Va pas tout casser là d'dans{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="notification is-warning">{{ self.subtitle() }}</div>
        <h2 class="title">Utilisateurs ({{ count_users }})</h2>
        <div class="columns">
            <div class="column">
                <h3 class="subtitle">Derniers inscrits</h3>
                <ul>
                    {% for user in last_users %}
                    <li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a> ({{
                        user.created_at|date('%d/%m/%Y') }})</li>
                    {% else %}
                    <span class="tag is-warning">Aucun pronostiqueur ?</span>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3 class="subtitle">Derniers groupes</h3>
                <ul>
                    {% for group in last_groups %}
                    <li><a href="{{ group.get_absolute_url }}">{{ group }}</a> ({{ group.created_at|date('%d/%m/%Y') }})
                    </li>
                    {% else %}
                    <span class="tag is-warning">Aucun groupe ?</span>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3 class="subtitle">Taupe 10 poules</h3>
                <ul>
                    {% for user in top_users %}
                    <li><a href="{{ user.get_absolute_url }}">{{ user.username }}</a> ({{ user.score|signed }}pts)</li>
                    {% else %}
                    <span class="tag is-warning">Aucun pronostiqueur ?</span>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h2 class="title">Matchs ({{ count_games }})</h2>
        <div class="columns">
            <div class="column">
                <h3 class="subtitle">Matchs à publier</h3>
                <ul>
                    {% for game in draft_games %}
                    <li><a href="{{ url_for('.game_form', pk=game.id) }}">{{ game.home_team.country }} - {{
                            game.away_team.country }}</a> ({{ game.date|date('%d/%m') }}, {{ game.get_phase_display }})
                    </li>
                    {% else %}
                    <span class="tag is-success">C’est bueno</span>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3 class="subtitle">Matchs à finaliser</h3>
                <ul>
                    {% for game in published_games %}
                    <li><a href="{{ url_for('.game_form', pk=game.id) }}">{{ game.home_team.country }} - {{
                            game.away_team.country }}</a> ({{ game.date|date('%d/%m') }}, {{ game.get_phase_display }})
                    </li>
                    {% else %}
                    <span class="tag is-success">C’est bueno</span>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h3 class="subtitle">Derniers scores</h3>
                <ul>
                    {% for game in done_games %}
                    <li><a href="{{ url_for('.game_form', pk=game.id) }}">{{ game.home_team.country }} {{
                            game.goals_home_team }} - {{ game.goals_away_team }} {{ game.away_team.country }}</a> ({{
                        game.date|date('%d/%m') }}, {{ game.get_phase_display }})</li>
                    {% else %}
                    <span class="tag is-warning">Aucun score ?</span>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}