{% extends 'backend.html' %}
{% set active_page = 'forecasts' %}
{% block title %}Gestion des pronostics{% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <p class="content is-medium">
                Les résultats des pronos <span class="tag is-success">envoyés</span> sont partis par mail (et ne seront pas renvoyés si re-score).<br>
                Légende : W = prono équipe victorieuse, GH = buts domicile, GA = buts visiteurs, A = réponse question.
            </p>
        <table class="table is-fullwidth" id="admin-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Utilisateur</th>
                    <th>Match</th>
                    <th>Date</th>
                    <th>Pronostic</th>
                    <th>Résultat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for forecast in object_list %}
                <tr>
                        <td>{{ forecast.id }}</td>
                        <td><a href="{{ url_for('.user_form', pk=forecast.user.id) }}">{{ forecast.user }}</a></td>
                        <td><a href="{{ url_for('.game_form', pk=forecast.game.id) }}">{{ forecast.game }}</a></td>
                        <td>{{ forecast.created_at|date('%A %d/%m à %H:%M') }}</td>
                        <td>
                            {{ forecast.goals_home_team }} - {{ forecast.goals_away_team }}
                            {% if forecast.shoot_out_victory %}<br>Tirs: {{ forecast.winner_name.country }}{% endif %}
                            {% if forecast.answer %}<br>
                            {{ forecast.answer }}
                            {% endif %}
                            
                        </td>
                        <td>
                            {% if forecast.scored_at %}<span class="tag is-success">envoyé</span>{% endif %}
                            {% if forecast.scored_at %}
                                {{ forecast.score|signed }} 
                                (W: {{ forecast.score_outcome|signed }}, 
                                GH: {{ forecast.score_goals_home_team|signed }}, 
                                GA: {{ forecast.score_goals_away_team|signed }}, 
                                A: {{ forecast.score_answer|signed }})
                            {% else %}
                                {% if not forecast.game.done %}
                                    <span class="tag is-info">Attente match</span>
                                {% else %}
                                <span class="tag is-warning">À scorer</span>
                                {% endif %}
                            {% endif %}
                            
                        </td>
                        <td>
                            <a href="{{ url_for('.forecast_form', pk=forecast.id) }}" class="button is-small">modifier</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{ count }} pronos enregistrés <a href="{{ url_for('.forecast_form') }}" class="button is-small">ajouter</a></p> 
        {% if pagination %}
        {{ paginate(pagination, '.forecasts') }}
        {% endif %}
    </div>
</section>
{% endblock %}
