{% extends 'teams.html' %}
{% block title %}{% if object.id %}Édition {{ object }}{% else %}Nouveau pronostic{% endif %}{% endblock %}
{% from '_macros.html' import horizontal_form %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <form method="POST">
            {{ horizontal_form(form, expanded=0) }}
            <div class="field is-horizontal">
                <div class="field-label">&nbsp;</div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-success">Enregistrer</button>
                            <a href="{{ back }}" class="button">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
