{% extends 'backend.html' %}
{% set active_page = 'games' %}
{% block title %}Gestion des matchs{% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <p class="content is-medium">
            Les matches en <span class="tag is-warning">brouillon</span> ne sont pas affichés sur le site, les <span class="tag is-info">en ligne</span> le sont.<br>
            Mieux vaut éviter de toucher aux matches <span class="tag is-success">terminés</span> (résultats enregistrés) 
            ou <span class="tag is-success">scorés</span> (points des pronostics calculés).<br>
            Les points des pronostics sont calculés automatiquement dès que le match est finalisé (possible de la faire à la main avec bouton scorer), 
            les mails sont envoyés dans la foulée.
        </p>
        <table class="table is-fullwidth" id="admin-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Équipes</th>
                    <th>Date</th>
                    <th>État</th>
                    <th>Pronos</th>
                    <th>Résultats</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for game in object_list %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.home_team }}<br>{{ game.away_team }}</td>
                    <td>{{ game.date|date('%A %d/%m à %H:%M') }}</td>
                    <td>
                        {% if game.draft %}
                        <span class="tag is-warning">Brouillon</span>
                        {% elif game.done %}
                            {% if game.scored_at %}
                            <span class="tag is-success">Scoré</span>
                            {% else %}
                            <span class="tag is-success">Terminé</span>
                            {% endif %}
                        {% else %}
                        <span class="tag is-info">En ligne</span>
                        {% endif %}
                    </td>
                    <td>{{ game.forecasts.count() or '-' }}</td>
                    <td>
                        {% if game.done %}
                        Buts: {{ game.goals_home_team }} - {{ game.goals_away_team }}<br>
                        {% if game.answer %}Réponse: {{ game.answer }}{% endif %}
                        {% else %}
                        <em>-</em>
                        {% endif %}
                        {% if game.shoot_out_victory %}Tirs: {{ game.winner_name.country }}{% endif %}
                    </td>

                    <td>
                        <a href="{{ url_for('.game_form', pk=game.id) }}" class="button is-small {% if game.scored_at %} is-danger{% else %}is-outlined is-inverted is-primary{% endif %}">modifier</a>
                        {% if game.done %}
                        <a href="{{ url_for('.score_forecasts', pk=game.id) }}" class="button is-small is-primary {% if game.scored_at %}is-inverted is-outlined{% endif %}">{% if game.scored_at %}re-{% endif %}scorer</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{ count }} matches enregistrés <a href="{{ url_for('.game_form') }}" class="button is-primary">ajouter</a></p> 
        {% if pagination %}
        {{ paginate(pagination, '.games') }}
        {% endif %}
    </div>
</section>
{% endblock %}
