{% extends 'games.html' %}
{% block title %}{% if object.id %}Édition {{ object }}{% else %}Nouveau match{% endif %}{% endblock %}
{% from '_macros.html' import horizontal_form %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">{{ self.title() }}</h1>
        <p class="content is-medium">
            Infos utiles : 
            1) la date &amp; heure c’est l’heure française, 
            2) décocher brouillon pour mettre en ligne, 
            3) cocher finalisé uniquement quand on est sûr de son coup (score, réponse), 
            4) les questions / réponses c'est facultatif et pas modifiable une fois que les gens ont commencé les pronos.
        </p>
        <form method="POST">
            {{ horizontal_form(form, expanded=0) }}
            <div class="field is-horizontal">
                <div class="field-label">&nbsp;</div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-success">Enregistrer</button>
                            <a href="{{ back }}" class="button">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
