{% extends 'backend.html' %}
{% set active_page = 'groups' %}
{% block title %}Gestion des groupes{% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <table class="table is-fullwidth" id="admin-table">
            <thead>
                <tr>
                    <th>#</th>
                    <td>Avatar</td>
                    <th>Nom</th>
                    <th>Membres</th>
                    <th>Score</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for group in object_list %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td>
                        <a href="{{ group.get_absolute_url }}"><img src="{{ url_for('static', filename=group.avatar_thumbnail_url) }}" class="image is-64x64" alt="Wavatar"></a>
                    </td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.users_count }}</td>
                    <td>{{ group.score|signed }}</td>
                    <td><a href="{{ url_for('.group_form', pk=group.id) }}" class="button is-small">modifier</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{ count }} groupes enregistrées <a href="{{ url_for('.group_form') }}" class="button is-small">ajouter</a></p> 
        {% if pagination %}
        {{ paginate(pagination, '.groups') }}
        {% endif %}
    </div>
</section>
{% endblock %}
