{% extends 'backend.html' %}
{% set active_page = 'teams' %}
{% block title %}Gestion des équipes{% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <table class="table is-fullwidth" id="admin-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Pays</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for team in object_list %}
                <tr>
                    <td>{{ team.id }}</td>
                    <td>{{ team.flag }} {{ team.name }}</td>
                    <td>{{ team.country }}</td>
                    <td><a href="{{ url_for('.team_form', pk=team.id) }}" class="button is-small">modifier</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{ count }} équipes enregistrées <a href="{{ url_for('.team_form') }}" class="button is-small">ajouter</a></p> 
        {% if pagination %}
        {{ paginate(pagination, '.teams') }}
        {% endif %}
    </div>
</section>
{% endblock %}
