{% extends 'backend.html' %}
{% set active_page = 'users' %}
{% block title %}Gestion des utilisateurs{% endblock %}
{% from '_macros.html' import paginate %}

{% block content %}
<section class="section">
    <div class="container">
        <table class="table is-fullwidth" id="admin-table">
            <thead>
                <tr>
                    <th>#</th>
                    <td>Avatar</td>
                    <th>Pseudo</th>
                    <th>Groupe</th>
                    <th>Inscription</th>
                    <th>Poules</th>
                    <th>Finales</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <a href="{{ user.get_absolute_url }}"><img src="{{ url_for('static', filename=user.avatar_thumbnail_url) }}" class="image is-64x64" alt="Wavatar"></a>
                    </td>
                    <td>
                        {{ user.username }}<br>
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                    </td>
                    <td>
                        {% if user.group %}
                        <a href="{{ url_for('.group_form', pk=user.group.id) }}">{{ user.group }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{{ user.created_at|date('%d/%m à %H:%M') }}</td>
                    <td>
                        {{ user.score|signed }}
                    </td>
                    <td>
                        {{ user.score_finals|signed }}
                    </td>
                    <td>
                        <a href="{{ url_for('.user_form', pk=user.id) }}" class="button is-small">modifier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{ count }} utilisateurs enregistrés <a href="{{ url_for('.user_form') }}" class="button is-small">ajouter</a></p> 
        {% if pagination %}
        {{ paginate(pagination, '.users') }}
        {% endif %}
    </div>
</section>
{% endblock %}
